@page
@model FacultyApiClient.IndexModel
@{
    ViewData["Title"] = "Обмен валюты";
}



<h2>@Model.Message</h2>
<form method="post">
    <input type="number" name="sum" />
    <input type="submit" value="Send" />
</form>